@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

.btn{
    border: 0;
    color: #AD2831;
 }
 
 .btn:hover{
     background-color: #AD2831;
 }

 .registerbutton{
    border: 0;
    color: white;
    background-color: transparent;   
 }

 .registerbutton:hover{
    background-color: white;
    color: #640D14;
 }

 .body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #AD2831;
}
.contenedor{
    display: flex;
    width: 30vw;
    height: 50vh;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: #AD2831;
    box-shadow:  10px 10px 10px #640D14,
                 -10px -10px 10px #640D14;
}