@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

.btn{
    border: 0;
    color: #AD2831;
 }

 .btn:hover{
    background-color: #AD2831;
}

.sensado{
    display: flex;
    width: 300px;
    height: 320px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #AD2831;
}
.contenedor{
    display: flex;
    width: 300px;
    height: 320px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: #AD2831;
    box-shadow:  10px 10px 10px #640D14,
                 -10px -10px 10px #640D14;
}


/* SWITCH */

.botoncito{
    position: relative;
    display: inline-block;
    width: 3.6rem;
    height: 2rem;
}
    
.botoncito input { 
    opacity: 0;
    width: 0;
    height: 0;
}
    
.deslizadora{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
    
.deslizadora:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    transition: .4s;
}
      
input:checked + .deslizadora {
    background-color: #34a853;
}
    
input:checked + .deslizadora:before {
    transform: translateX(1.6rem);
}